footer {
  margin: 20.9em 0 0;
  background-color:black;
  color: white;
  text-align: center;
  height: 20vh;
}

footer h2 {
  margin: 0;
  padding: 1em 2em;
  font-size: large;
}

i {
  margin-right: 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 320px) {
  footer {
    height: 25vh;
  }

}